.wrapper.wrapper__clearfix
  = render partial: "shared/header"
  = render partial: "shared/bread-crumbs"
  %main.l-container.l-container__clearfix
    .mypage-content
      .mypage-content__chapter-container
        .mypage-content__inner
          .mypage-content__single-content
            =link_to "ログアウト", destroy_user_session_path, method: :delete, class: "mypage-content__btn-default mypage-content__single-content__btn-red"
    = render partial: "shared/sidebar"
  = render partial: "shared/footer"
  = render partial: "shared/sell_btn"
