.single-container
  = render partial: "shared/new-header"
  %main.single-main
    %section.signup-panel
      %h2.signup-panel__head 新規会員登録
      .signup-panel__inner
        .signup-panel__inner__single-content
          = link_to new_user_registration_path, class: "signup-panel__btn-default signup-panel__btn-mail" do
            %i.icon-mail
            メールアドレスで登録

          = link_to user_facebook_omniauth_authorize_path, class: "facebook-login signup-panel__btn-default signup-panel__btn-sns signup-panel__btn-sns__facebook" do
            %button
            %i.icon-facebook
            Facebookで登録

          = link_to user_google_oauth2_omniauth_authorize_path, class: "google-login signup-panel__btn-default signup-panel__btn-sns signup-panel__btn-sns__google" do
            %button
            %i.icon-google-plus
            Googleで登録
  = render partial: "shared/new-footer"
