%section.items.clearfix
  %h3
    =link_to "レディース 新着アイテム", 'hoge'
  .content.clearfix
    %li.item-box
      = link_to '' do
        .item-box__photo
          = image_tag('dammy_prd_1')
        %p.item-box__name
          ダミー商品1
        .item-box__info.clearfix
          .item-box__info-price
            ¥ 999,999
          .item-box__info-likes
            %i.icon.fal.fa-heart
            55
        .item-box__tax
          （税込）
    %li.item-box
      = link_to '' do
        .item-box__photo
          = image_tag('dammy_prd_2')
        %p.item-box__name
          ダミー商品2
        .item-box__info.clearfix
          .item-box__info-price
            ¥ 9,999
          .item-box__info-likes
            %i.icon.fal.fa-heart
            6
        .item-box__tax
          （税込）
    %li.item-box
      = link_to '' do
        .item-box__photo
          = image_tag('dammy_prd_3')
        %p.item-box__name
          あいうえおかきくけこさしすせそたちつてとなにぬねの商品3
        .item-box__info.clearfix
          .item-box__info-price
            ¥ 9
          .item-box__info-likes
            %i.icon.fal.fa-heart
            2001
        .item-box__tax
          （税込）
    %li.item-box
      = link_to '' do
        .item-box__photo
          = image_tag('dammy_prd_4')
        %p.item-box__name
          asjfhasgljsepdfmha;elzdmbal;szm商品4
        .item-box__info.clearfix
          .item-box__info-price
            ¥ 1,999
          .item-box__info-likes
            %i.icon.fal.fa-heart
            124
        .item-box__tax
          （税込）
    .view-all
      = link_to "すべての商品を見る", 'hoge'

