%section.items
  %h3
    =link_to "レディース 新着アイテム", 'hoge'
  .item.clearfix
    %li.item__box
      = link_to 'hoge' do
        .item__photo
          = image_tag('dammy_prd_1')
        .item__name
          ダミー商品1
        .item__info
          .item__info-price
            ¥ 999,999
          .item__info-likes
            %i.icon.fal.fa-heart
            55
        .item__tax
          （税込）
    %li.item__box
      = link_to 'hoge' do
        .item__photo
          = image_tag('dammy_prd_2')
        .item__name
          ダミー商品2
        .item__info
          .item__info-price
            ¥ 9
          .item__info-likes
            %i.icon.fal.fa-heart
            9
        .item__tax
          （税込）
    %li.item__box
      = link_to 'hoge' do
        .item__photo
          = image_tag('dammy_prd_3')
        .item__name
          ダミー商品3
        .item__info
          .item__info-price
            ¥ 9,999
          .item__info-likes
            %i.icon.fal.fa-heart
            9,999
        .item__tax
          （税込）
    %li.item__box
      = link_to 'hoge' do
        .item__photo
          = image_tag('dammy_prd_4')
        .item__name
          ダミー商品4ダミーダミーダミーダミーダミーダミーダミー
        .item__info
          .item__info-price
            ¥ 999
          .item__info-likes
            %i.icon.fal.fa-heart
            999
        .item__tax
          （税込）
    .view-all
      = link_to "すべての商品を見る", 'hoge'

