%ul.pager
  %li.pager__num
    %ul
      %li.pager__cell
        1
      %li.pager__cell
        = link_to "2", ""
      %li.pager__cell
        = link_to "3", ""
      %li.pager__cell
        = link_to "4", ""
      %li.pager__cell
        = link_to "5", ""
  %li.pager__next
    %ul
      %li.pager__cell
        = link_to "" do
          %i.icon-arrow-right
      %li.pager__cell
        = link_to "" do
          %i.icon-arrow-double-right
