%section.item-photo
  .item-photo__main
    = image_tag('dammy_prd_1')
  .item-photo__sub
    %ul
      %li
        = image_tag('dammy_prd_2')
      %li
        = image_tag('dammy_prd_3')
      %li
        = image_tag('dammy_prd_4')
      %li
        = image_tag('dammy_prd_1')
      %li
        = image_tag('dammy_prd_2')
    %ul
      %li
        = image_tag('dammy_prd_1')
      %li
        = image_tag('dammy_prd_4')
      %li
        = image_tag('dammy_prd_3')
      %li
        = image_tag('dammy_prd_2')
      %li
        = image_tag('dammy_prd_1')

