%section.items
  .item-title
    =link_to "山田 太郎さんのその他の出品", 'hoge'
  %ul.item
    %li.item__box
      = link_to 'hoge' do
        .item__photo
          = image_tag('dammy_prd_1')
        .item__name
          ダミー商品1
        .item__info
          .item__info-price
            ¥ 999,999
          .item__info-likes
            %i.icon.fal.fa-heart
            55
        .item__tax
          （税込）
    %li.item__box
      = link_to 'hoge' do
        .item__photo
          = image_tag('dammy_prd_2')
        .item__name
          ダミー商品2
        .item__info
          .item__info-price
            ¥ 9
          .item__info-likes
            %i.icon.fal.fa-heart
            9
        .item__tax
          （税込）
    %li.item__box
      = link_to 'hoge' do
        .item__photo
          = image_tag('dammy_prd_3')
        .item__name
          ダミー商品3
        .item__info
          .item__info-price
            ¥ 9,999
          .item__info-likes
            %i.icon.fal.fa-heart
            9,999
        .item__tax
          （税込）
  %ul.item
    %li.item__box
      = link_to 'hoge' do
        .item__photo
          = image_tag('dammy_prd_1')
        .item__name
          ダミー商品1
        .item__info
          .item__info-price
            ¥ 999,999
          .item__info-likes
            %i.icon.fal.fa-heart
            55
        .item__tax
          （税込）
    %li.item__box
      = link_to 'hoge' do
        .item__photo
          = image_tag('dammy_prd_2')
        .item__name
          ダミー商品2
        .item__info
          .item__info-price
            ¥ 9
          .item__info-likes
            %i.icon.fal.fa-heart
            9
        .item__tax
          （税込）
    %li.item__box
      = link_to 'hoge' do
        .item__photo
          = image_tag('dammy_prd_3')
        .item__name
          ダミー商品3
        .item__info
          .item__info-price
            ¥ 9,999
          .item__info-likes
            %i.icon.fal.fa-heart
            9,999
        .item__tax
          （税込）
  .item-title
    =link_to "Pachi-Monのトートバッグ その他の商品", 'hoge'
  %ul.item
    %li.item__box
      = link_to 'hoge' do
        .item__photo
          = image_tag('dammy_prd_1')
        .item__name
          ダミー商品1
        .item__info
          .item__info-price
            ¥ 999,999
          .item__info-likes
            %i.icon.fal.fa-heart
            55
        .item__tax
          （税込）
    %li.item__box
      = link_to 'hoge' do
        .item__photo
          = image_tag('dammy_prd_2')
        .item__name
          ダミー商品2
        .item__info
          .item__info-price
            ¥ 9
          .item__info-likes
            %i.icon.fal.fa-heart
            9
        .item__tax
          （税込）
    %li.item__box
      = link_to 'hoge' do
        .item__photo
          = image_tag('dammy_prd_3')
        .item__name
          ダミー商品3
        .item__info
          .item__info-price
            ¥ 9,999
          .item__info-likes
            %i.icon.fal.fa-heart
            9,999
        .item__tax
          （税込）
  %ul.item
    %li.item__box
      = link_to 'hoge' do
        .item__photo
          = image_tag('dammy_prd_1')
        .item__name
          ダミー商品1
        .item__info
          .item__info-price
            ¥ 999,999
          .item__info-likes
            %i.icon.fal.fa-heart
            55
        .item__tax
          （税込）
    %li.item__box
      = link_to 'hoge' do
        .item__photo
          = image_tag('dammy_prd_2')
        .item__name
          ダミー商品2
        .item__info
          .item__info-price
            ¥ 9
          .item__info-likes
            %i.icon.fal.fa-heart
            9
        .item__tax
          （税込）
    %li.item__box
      = link_to 'hoge' do
        .item__photo
          = image_tag('dammy_prd_3')
        .item__name
          ダミー商品3
        .item__info
          .item__info-price
            ¥ 9,999
          .item__info-likes
            %i.icon.fal.fa-heart
            9,999
        .item__tax
          （税込）
