.wrapper
  = render 'shared/header'
  %main
    = image_tag('bannar-new-life.jpg', alt: 'mercari', class: 'top-main-visual')
    %section.pickup-container
      %h2.pickup-container__head ピックアップカテゴリー
      = render 'shared/items'
    %section.pickup-container
      %h2.pickup-container__head ピックアップブランド
      = render 'shared/items'
  = render 'shared/footer'
  = render 'shared/sell_btn'

