.single-container
  = render partial: "shared/new-header"
  %main.single-main
    %section.product-single-container
      #sell-container
        %div
          .sell-container-inner
            %h2.product-single-container__head 商品の情報を入力
            = form_for @product, html: {class: "product-single-container__form"} do |f|
              .product-single-container__upload-box
                %h3.product-single-container__upload-head
                  出品画像
                  %span.product-single-container__form-require 必須
                %p 最大10枚までアップロードできます
                .product-single-container__dropbox-container.product-single-container__clearfix
                  .product-single-container__upload-items-container
                    .product-single-container__upload-items.have-item-0
                      %ul.preview
                  = f.fields_for :images do |i|
                    .product-single-container__upload-drop-box.have-item#field
                      %pre.product-single-container__visible-pc
                        ドラッグアンドドロップ
                        またはクリックしてファイルをアップロード
                      = i.file_field :image, type: :file, class: 'file'
              .product-single-container__content.product-single-container__clearfix
                .product-single-container__form-group
                  = f.label :name do
                    商品名
                    %span.product-single-container__form-require 必須
                  %div
                    = f.text_field :name, class: "product-single-container__input-default", placeholder: "商品名（必須 40文字まで)"
                .product-single-container__form-group
                  = f.label :detail do
                    商品の説明
                    %span.product-single-container__form-require 必須
                  = f.text_area :description, class: "product-single-container__textarea-default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
              .product-single-container__content.product-single-container__clearfix
                %h3.product-single-container__sell-sub-head 商品の詳細
                .product-single-container__form-box
                  .product-single-container__form-group
                    %label
                      カテゴリー
                      %span.product-single-container__form-require 必須
                    .product-single-container__select-wrap
                      = collection_select :product, :category_id, @categoryroot, :id, :name, {include_blank: "---"}, {class: "product-single-container__select-default select-box-parent"}
                      %i.icon-arrow-bottom
                    - @categoryroot.each do |root|
                      .product-single-container__select-wrap.select-box-list
                        - cache root.children do
                          = collection_select :product, :category_id, root.children, :id, :name,{include_blank: "---"}, {class: "product-single-container__select-default select-box-child",child_id: "#{root.id}"}
                          - root.children.each do |son|
                            .product-single-container__select-wrap.select-box-list-son
                              = f.collection_select :category_id, son.children, :id, :name, {include_blank: "---"}, {class: "product-single-container__select-default select-box-son", son_id: "#{son.id}"}
                    = f.hidden_field :category_id, {class: "category"}
                  .product-single-container__form-group
                    = f.label :condition do
                      商品の状態
                      %span.product-single-container__form-require 必須
                    .product-single-container__select-wrap
                      = f.select :condition, Product.conditions.keys.map {|k| [I18n.t("product.condition.#{k}"), k]}, {include_blank: "---"}, class: "product-single-container__select-default"
                      %i.icon-arrow-bottom
              .product-single-container__content.product-single-container__clearfix
                %h3.product-single-container__sell-sub-head 配送について
                =link_to "?", "", { target: "_blank" }
                .product-single-container__form-box
                  .product-single-container__form-group
                    = f.label :shiping_fee do
                      配送料の負担
                      %span.product-single-container__form-require 必須
                    .product-single-container__select-wrap
                      = f.select :shipping_fee, Product.shipping_fees.keys.map {|k| [I18n.t("product.shipping_fee.#{k}"), k]}, {include_blank: "---"}, class: "product-single-container__select-default"
                      %i.icon-arrow-bottom
                  .product-single-container__form-group
                    = f.label :shipping_method do
                      配送料の方法
                      %span.product-single-container__form-require 必須
                    .product-single-container__select-wrap
                      = f.select :shipping_method, Product.shipping_methods.keys.map {|k| [I18n.t("product.shipping_method.#{k}"), k]}, {include_blank: "---"}, class: "product-single-container__select-default"
                      %i.icon-arrow-bottom
                  .product-single-container__form-group
                    = f.label :shipping_from do
                      発送元の地域
                      %span.product-single-container__form-require 必須
                    .product-single-container__select-wrap
                      = f.select :shipping_from, Product.shipping_froms.keys.map {|k| [I18n.t("product.shipping_from.#{k}"), k]}, {include_blank: "---"}, class: "product-single-container__select-default"
                      %i.icon-arrow-bottom
                  .product-single-container__form-group
                    = f.label :shipping_term do
                      発送までの日数
                      %span.product-single-container__form-require 必須
                    .product-single-container__select-wrap
                      = f.select :shipping_term, Product.shipping_terms.keys.map {|k| [I18n.t("product.shipping_term.#{k}"), k]}, {include_blank: "---"}, class: "product-single-container__select-default"
                      %i.icon-arrow-bottom
              .product-single-container__content.product-single-container__clearfix
                %h3.product-single-container__sell-sub-head 販売価格(300〜9,999,999)
                =link_to "?", "", { target: "_blank" }
                .product-single-container__form-box
                  %ul.product-single-container__price
                    %li.product-single-container__form-group
                      .product-single-container__clearfix
                        = f.label :price, class: "product-single-container__l-left" do
                          価格
                          %span.product-single-container__form-require 必須
                        .product-single-container__l-right.product-single-container__price-input
                          ¥
                          %div
                            = f.text_field :price, class: "product-single-container__price-input__input-default product-single-container__price-input", placeholder: "例）300"
                    %li.product-single-container__clearfix
                      .product-single-container__l-left
                        販売手数料 (10%)
                      .product-single-container__l-right#chargeField -
                    %li.product-single-container__clearfix
                      .product-single-container__l-left.product-single-container__l-left__bold 販売利益
                      .product-single-container__l-right.product-single-container__l-right__bold#profitField -
              .product-single-container__content.product-single-container__btn-box
                %div
                  %p
                    =link_to "禁止されている出品", "", { target: "_blank" }
                    、
                    =link_to "行為", "", { target: "_blank" }
                    を必ずご確認ください。
                  %p
                    またブランド品でシリアルナンバー等がある場合はご記載ください。
                    =link_to "偽ブランドの販売", "", { target: "_blank" }
                  %p
                    また、出品をもちまして
                    =link_to "加盟店規約", "", { target: "_blank" }
                = f.submit "出品する", class: "product-single-container__btn-default product-single-container__btn-box__btn-red"
                =link_to "もどる", "", { :class => "product-single-container__btn-default product-single-container__btn-box__btn-gray" }
            .overlay
  = render partial: "shared/new-footer"
