.single-container
  = render partial: "shared/new-header"
  %main.single-main
    %section.product-single-container
      #sell-container
        %div
          .sell-container-inner
            %h2.product-single-container__head 商品の情報を入力
            %form.product-single-container__form
              .product-single-container__upload-box
                %h3.product-single-container__upload-head
                  出品画像
                  %span.product-single-container__form-require 必須
                %p 最大10枚までアップロードできます
                .product-single-container__dropbox-container.product-single-container__clearfix
                  .product-single-container__upload-drop-box
                    %pre.product-single-container__visible-pc ドラッグアンドドロップまたはクリックしてファイルをアップロード
              .product-single-container__content.product-single-container__clearfix
                .product-single-container__form-group
                  %label
                    商品名
                    %span.product-single-container__form-require 必須
                  %div
                    %input.product-single-container__input-default{placeholder: "商品名（必須 40文字まで)", value: ""}/
                .product-single-container__form-group
                  %label
                    商品の説明
                    %span.product-single-container__form-require 必須
                  %textarea.product-single-container__textarea-default{placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"}
              .product-single-container__content.product-single-container__clearfix
                %h3.product-single-container__sell-sub-head 商品の詳細
                .product-single-container__form-box
                  .product-single-container__form-group
                    %label
                      カテゴリー
                      %span.product-single-container__form-require 必須
                    %div
                      .product-single-container__select-wrap
                        %select.product-single-container__select-default
                          - @productCategories.each do |productCategory|
                            %option{value: "#{productCategory.value}"}
                              = productCategory.name
                        %i.icon-arrow-bottom
                  .product-single-container__form-group
                    %label
                      商品の状態
                      %span.product-single-container__form-require 必須
                    .product-single-container__select-wrap
                      = select_tag :condition, options_for_select(Condition.localed_conditions), autofocus: 'true', class: 'product-single-container__select-default'
                      %i.icon-arrow-bottom
              .product-single-container__content.product-single-container__clearfix
                %h3.product-single-container__sell-sub-head 配送について
                =link_to "?", "", { target: "_blank" }
                .product-single-container__form-box
                  .product-single-container__form-group
                    %label
                      配送料の負担
                      %span.product-single-container__form-require 必須
                    .product-single-container__select-wrap
                      = select_tag :shipping_fee, options_for_select(ShippingFee.localed_shipping_fees), autofocus: 'true', class: 'product-single-container__select-default'
                      %i.icon-arrow-bottom
                  .product-single-container__form-group
                    %label
                      発送元の地域
                      %span.product-single-container__form-require 必須
                    .product-single-container__select-wrap
                      = select_tag :shipping_from, options_for_select(ShippingFrom.localed_shipping_froms), autofocus: 'true', class: 'product-single-container__select-default'
                      %i.icon-arrow-bottom
                  .product-single-container__form-group
                    %label
                      発送までの日数
                      %span.product-single-container__form-require 必須
                    .product-single-container__select-wrap
                      = select_tag :shipping_term, options_for_select(ShippingTerm.localed_shipping_terms), autofocus: 'true', class: 'product-single-container__select-default'
                      %i.icon-arrow-bottom
              .product-single-container__content.product-single-container__clearfix
                %h3.product-single-container__sell-sub-head 販売価格(300〜9,999,999)
                =link_to "?", "", { target: "_blank" }
                .product-single-container__form-box
                  %ul.product-single-container__price
                    %li.product-single-container__form-group
                      .product-single-container__clearfix
                        %label.product-single-container__l-left
                          価格
                          %span.product-single-container__form-require 必須
                        .product-single-container__l-right.product-single-container__price-input
                          ¥
                          %div
                            %input.product-single-container__price-input.product-single-container__price-input__input-default{placeholder: "例）300", value: ""}/
                    %li.product-single-container__clearfix
                      .product-single-container__l-left
                        販売手数料 (10%)
                      .product-single-container__l-right -
                    %li.product-single-container__clearfix
                      .product-single-container__l-left.product-single-container__l-left__bold 販売利益
                      .product-single-container__l-right.product-single-container__l-right__bold -
              .product-single-container__content.product-single-container__btn-box
                %div
                  %p
                    =link_to "禁止されている出品", "", { target: "_blank" }
                    、
                    =link_to "行為", "", { target: "_blank" }
                    を必ずご確認ください。
                  %p
                    またブランド品でシリアルナンバー等がある場合はご記載ください。
                    =link_to "偽ブランドの販売", "", { target: "_blank" }
                  %p
                    また、出品をもちまして
                    =link_to "加盟店規約", "", { target: "_blank" }
                %button.product-single-container__btn-default.product-single-container__btn-box__btn-red{type: "submit"}
                  出品する
                =link_to "もどる", "", { :class => "product-single-container__btn-default product-single-container__btn-box__btn-gray" }
            .overlay
  = render partial: "shared/new-footer"
